

@media screen and (min-width: 1024px) {

    .contain-logo-claro {
        width: 150px;
        height: auto;
    }

    .contain-main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: start;
        gap: 40px;
    }

    /* ------------------------- STYLES FORMULARIO -------------------------*/

    .contain-data {
        width: 500px;
  
        padding-bottom: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;

        background: #ebebeb;
        background: linear-gradient(90deg, rgba(235, 235, 235, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(235, 235, 235, 1) 100%);
    }
    
    .formulario {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .fila {
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;
        margin-bottom: 15px;
    }

    .fila input{
        border-radius: 6px;
        padding-left: 10px;
    }

    /* ------------------------- STYLES TABLA -------------------------*/
    .contain-table table td,
    .contain-table table th {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }

}

/* ------------------------- STYLES BTN MENU DESPLEGABLE -------------------------*/

.icono-menu {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-menu-desplegable {
    all: unset;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px;
    border-radius: 8px;
}

.btn-menu-desplegable:hover {
    background-color: rgb(170, 170, 170);
    transition: 0.5s;
}

